.pricing {
  @include py-100;
  background-color: var(--light-white);

  // .pricing__inner

  &__inner {
  }

  // .pricing__list

  &__list {
    @include grid($column-gap: 0, $row-gap: 0);
  }

  // .pricing__list-item

  &__list-item {
    grid-column: span 12;
    @media screen and (min-width: #{map-get($screens, md)}) {
      grid-column: span 4;
    }
  }
}