<section class="partners">
  <div class="partners__inner container">
    <div class="partners__carousel carousel scrollbar js-carousel">
      <ul class="partners__inner carousel__inner js-carousel-inner">
        {% for item in data.list %}
        <li class="partners__slide carousel__slide js-carousel-slide">
          <picture>
            <img src="{{ item.image | media | resize(200, false, { mode: 'crop', quality: '80', extension: 'webp' }) }}" alt="{{ item.name }}" loading="lazy" class="partners__slide-img">
          </picture>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
