.menu-toggle {
  --bg-color: var(--base-black);

  text-decoration: none;
  color: var(--base-black);

  .main-menu--show & {
    --bg-color: var(--base-blue);
  }

  &:focus-visible {
    @extend %focus;
  }

  // .menu-toggle__text

  &__text {
    font-family: map-get($fonts, 'ubuntu');
    font-size: rem(16);
    font-weight: 700;
    letter-spacing: rem(3);
    text-transform: uppercase;
    margin-right: em(8);
  }

  // .menu-toggle__icon

  &__icon {
    position: relative;
    width: rem(21);
    height: rem(1);
    display: inline-block;
    background-color: var(--bg-color);
    transition: all .3s cubic-bezier(.7,1,.7,1);


    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      background-color: var(--bg-color);
      transform: rotate(0);
      transition: all .3s cubic-bezier(.7,1,.7,1);

      .main-menu--show & {
        width: rem(21);
      }
    }

    &::before {
      width: rem(10);
      height: rem(1);
      bottom: rem(10);
    }

    &::after {
      width: rem(16);
      height: rem(1);
      top: rem(-5);
    }
  }
}